.hero2{    
    display: flex;
    justify-content: space-between;
    background: linear-gradient(160deg, rgb(255 255 255), rgb(17, 24, 39));
    color: rgb(255, 255, 255);
    padding: 50px 20px;
    text-align: center;
}

.hero2 {
    display: flex;
    gap: 20px;
}

.big-img .card-img {
    height: 68%;
}

.small-img .card-img{
    height: 62%;
}