.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: #111827;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar.dark-theme {
  background: white;
  color: #111827;
}


ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 28px;
    font-size: 16px;
    cursor: pointer;
}

h1{
    font-size: 22px;
    font-weight: 600;
}